<%- include('../includes/head.ejs') %>

</head>
<body>
    <%- include('../includes/nav.ejs') %>

    <form action="/signup" method="POST">
        <input type="text" id="username" name="username" placeholder="username"><br><br>
        <input type="string" id="email" name="email" placeholder="email"><br><br>
        <input type="string" name="pNo" id="pNo" placeholder="phone no."><br><br>
        <input type="password" name="password" id="password" placeholder="password"><br><br>
        <input type="submit" value="Submit">
      </form> 

<%- include('../includes/end.ejs') %>