<nav>
    <label class="nav_head">URL SHORT</label>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>